<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf8">
</head>
<body>
	<p>Hello Python-マイページ-</p>
	<p>ようこそ{{ name }} さん</p>
	<p>あなたのメモリストです</p>
	<form action="/regist" method="post">
		<p><input type="text" name="category" placeholder="カテゴリ"></p>
		<!--追加されたカテゴリを配列に格納し、リストレンダリングでチェックボックス作りたいところ-->
		<p><input type="text" name="main" placeholder="メモ"></p>
		<p><input type="text" name="link" placeholder="リンク"></p>
		<p><input type="submit" value="submit"></p>
	</form>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
    <div id="app">
            <button v-on:click="getAllList()">更新</button>
	</div>
	
	<script>
			var app = new Vue({
				el:'#app',
				data:{
					list:[]
				},
				methods:{
					getAllList:function(){
						var _this = this
						var result = [];
						$.ajax({
							type:'POST',
							url:'/postText',
							dataType:"json",
							contentType:'application/json',
							success:function(response) {
							for(var i=0;i<response.length;i++){
								result.push({
									"category":response[i].category,
									"main":response[i].main,
									"link":response[i].link
								})
							}

							  console.log(result)
							  _this.list = result
							  return;
							}
						})
					}
				}
			})
			</script>

	<table>
		<td>
			<tr>
				{{ id }}
			</tr>
			<tr>
				{{ category }}
			</tr>
			<tr>
				{{ main }}
			</tr>
			<tr>
				<a href="{{ link }}">{{ link }}</a>
			</tr>
		</td>
	</table>
</body>
</html>
