<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf8">
</head>
<body>
	<p>Hello Python-マイページ-</p>
	<p>ようこそ{{ name }} さん</p>
	<p>あなたのメモリストです</p>
	<form action="/regist" method="post">
		<p><input type="text" name="category" placeholder="カテゴリ"></p>
		<!--追加されたカテゴリを配列に格納し、リストレンダリングでチェックボックス作りたいところ-->
		<p><input type="text" name="main" placeholder="メモ"></p>
		<p><input type="text" name="link" placeholder="リンク"></p>
		<p><input type="submit" value="submit"></p>
	</form>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
    <table>
	</table>
	<script>
		var app;
		$(document).ready(function(){
			app = new Vue({
				data:{
					list:[]
				},
					created:function(){
						var result = [];
						var _this = this
						$.ajax({
							type:'POST',
							url:'/postText',
							dataType:"json",
							contentType:'application/json',
							success:function(response) {
							for(var i=0;i<response.length;i++){
								result.push({
									"id":response[i].id,
									"category":response[i].category,
									"main":response[i].main,
									"link":response[i].link
								})
							}
							_this.createList(result)
							  return;
							}
						})
					},
					methods:{
						createList:function(list){
							console.log('create list start')
							console.log(list)
							console.log(list.length)
							for(var i=0;i<list.length;i++){
								$('table').append('<tr></tr>');
								$('tr').append('<td>'+list[i].id+'</td>');
								$('tr').append('<td>'+list[i].category+'</td>');
								$('tr').append('<td>'+list[i].main+'</td>');
								$('tr').append('<td>'+list[i].link+'</td>');
							}	
						}
					}
			})
		})
			</script>
<style>
table{
	background-color: aquamarine;
}
td{
	background-color: blueviolet;
}
tr{
	background-color: beige;
}
</style>
	
</body>
</html>
